body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  padding-right:20px;
}

td {
	border:solid 1px;
	padding-right:20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a, a:visited { margin-right:10px; }
a { color: #000; }
a:visited { color: #666; }

a:hover { color: #fff; background-color:#000; }
.ui-state-default a:hover {background-color: #E6E6E6;}
.ui-state-active a:hover {background-color: white; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.correct_forecast {
	background-color:#ccffcc;
}

.exact_forecast {
	background-color:#ffffcc;
}

.wrong_forecast {
	background-color:#ff9933;
}

.join {
    background-color: rgb(255, 255, 204);
	padding-left: 10px;
	padding-top: 20px;
	margin-top: 10px;
	padding-bottom: 30px;
	font-size: 30px;
	width: 900px;
	line-height: 32px;	
}