		<div class="content">
			
			<div id="tabs">
			    <ul>
			        <li><a href="#reglas"><span>Reglas</span></a></li>
					<li><a href="#rules"><span>Rules</span></a></li>
			    </ul>
			    <div id="reglas">
			        <h1>Bienvenidos al Prode Mundial</h1>
        
		            <h2>Reglas (Generales)</h2>
		            
		            <ol>
		                <li>Por cada partido: <%= CORRECT_POINTS %> punto por acierto de resultado parcial (Por ejemplo: Local, Empate o Visita)</li>
		                <li>Por cada partido: <%= EXACT_POINTS %> puntos por acierto de resultado exacto (Por ejemplo: 1-2, 3-0)</li>
		                <li>Quien suma mas puntos por fase <b>gana</b>!</li>
		                <li>Los pronosticos se pueden cambiar hasta el dia anterior al inicio de la fase</li>
		            </ol>
		
		            <h2>Reglas (Primera Fase)</h2>
		            
		            <ol>
		                <li>Uno elige todos sus pronosticos antes del comienzo de la fase.</li>
		                <li>Al inicio del primer partido, el sistema <b>congela</b> los estimados.</li> 
		            </ol>
		            
		            <h2>Reglas (Octavos, Cuartos, Semis y Final)</h2>
		            
		            <ol>
		                <li>Uno elige todos sus pronosticos antes del comienzo de la fase.</li>
		                <li>Al inicio del primer partido, el sistema <b>congela</b> los estimados.</li> 
		            </ol>           
		            
		            <h2>Premios</h2>
		            
		            <p>
		                Se arregla con amigos.
		            </p>

			    </div>
<div id="rules">
                    <h1>Welcome to the World Cup Forecasts</h1>
        
                    <h2>Rules (General)</h2>
                    
                    <ol>
                        <li>For every game: <%= CORRECT_POINTS %> point for a partial match. (eg. Home, Tie or Away)</li>
                        <li>For every game: <%= EXACT_POINTS %> points for an exact match. (eg. 1-2, 3-0)</li>
                        <li>Whoever gets more points per phase <b>wins</b>!</li>
                        <li>You can modify your forecasts until the beginning of the phase</li>
                    </ol>
        
                    <h2>Rules (First Phase)</h2>
                    
                    <ol>
                        <li>You pick all your forecasts before the beginning of the phase</li>
                        <li>When the first phase begins, the system <b>freezes</b> the forecasts</li> 
                    </ol>
                    
                    <h2>Rules (16, Quarter, Semi & Final)</h2>
                    
                    <ol>
                        <li>Before the beginning of each phase, one picks the forecasts</li>
                        <li>When the phase begins, the system <b>freezes</b> the forecasts</li> 
                    </ol>           
                    
                    <h2>Awards</h2>
                    
                    <p>
                        Arrange that with friends.
                    </p>
                </div>				
			</div>
                        
		</div>
